.wrapper
  .header-top
    -if user_signed_in?
      .user_nav.grid-6
        = link_to "logOut", destroy_user_session_path, class: "post", method: :delete
        = link_to new_post_path, class: "post" do
          newPost
  .header
    = link_to root_path, class: "title" do
      5$ Instrumental
  .main
    - @posts.each do |post|
      .content
        =image_tag post.image.url, class: "image" 
        =link_to "click", post_path(post.id), method: :get