.wrapper
  .header
    = link_to root_path, class: "title" do
      5$ Instrumental
  .header-top
    -if user_signed_in?
      .user_nav.grid-6
        = link_to "logOut", destroy_user_session_path, class: "post", method: :delete
        = link_to new_post_path, class: "post" do
          newPost
  .mains
    .main
      - @posts.each do |post|
        .content
          =link_to post_path(post.id), method: :get do
            =image_tag post.image.url, class: "image" 
          =link_to post.user.name, post_path(post.id), method: :get, class: "click"
          =link_to post_path(post.id), method: :get, class: "index-good" do
            %i.fas.fa-thumbs-up
            = post.liked_users.count
  .footer
    %p.footer-info
      bianKobayashi/09/10/1996/kobe