.containers {
  background-image: url("bar.jpg");
  background-size: cover;
  min-height: 100vh;
  .header {
    text-shadow: 1px 3px rgb(82, 82, 82);
    h1 {
      color: whitesmoke;
    }
  }
  .set {
    padding-top: 120px;
    .container {
      border: 1px solid black;
      border-radius: 50px;
      margin: 0 auto;
      width: 350px;
      background-color: rgba(220, 247, 47, 0.4);
      padding-top: 20px;
      padding-bottom: 15px;
    }
    h2 {
      height: 70px;
      text-align: center;
      font-size: 38px;
      font-family: sans-serif;
      color: black;
    }
    .field {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      flex-direction: column;
      .profile {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      i {
        font-size: 40px;
        cursor: pointer;
      }
      p {
        text-align: center;
      }
    }
    .actions {
      display: flex;
      justify-content: center;
    }
    .submit-up {
      padding: 5px 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: rgba(35, 141, 255, 0.5);
      border: none;
      font-family: sans-serif;
      cursor: pointer;
    }
    .devise-info {
      text-decoration: none;
      color: rgb(44, 134, 244);
      font-size: 14px;
      text-shadow: 1px 1px rgb(160, 160, 160);
    }
  }
}
.avatar {
  display: none;
}
