.new-post {
  border-top: dashed;
  border-bottom: dashed;
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  .message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .new-name {
      font-family: cursive;
      font-size: 30px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .text {
      margin-bottom: 20px;
      padding: 10px 60px;
      text-align: center;
      border-radius: 15px;
      border: 2px solid black;
      font-family: sans-serif;
    }
    .fa{
      font-size: 50px;
      color: black;
      margin-left: 10px;
    }
    .file {
      display: none;
    }
    .submit {
      padding: 15px 110px;
      background-color: black;
      opacity: 0.8;
      color: green;
      margin-top: 20px;
      border-radius: 25px;
      font-family: sans-serif;
      margin-bottom: 50px;
      cursor: pointer;
      &:active {
        position: relative;
        top: 7px;
        box-shadow: none;
      }
    }
  }
}
.success {
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 30px;
  }
  .return {
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    &:hover {
      background-color: gray;
    }
  }
}

.show {
  border-bottom: 2px solid black;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  p{
    padding-bottom: 30px;
    font-size: 38px;
    font-weight: bold;
    font-family: cursive;
    .user-name {
      color: black;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
        background-color: darkgreen;
      }
      &:active {
        position: relative;
        top: 8px;
        box-shadow: none;
      }
    }
  }
  .hand-sign {
    height: 80px;
    font-size: 28px;
    font-weight: bold;
    font-family: cursive;
    .hand{
      color: green;
      font-size: 50px;
      line-height: 70px;
      &:active {
        position: relative;
        top: 6px;
        box-shadow: none;
      }
    }
  }
}
.content {
  display: flex;
  h3 {
    font-weight: bold;
  }
}
.shopping {
  margin: 70px;
  text-align: center;
  .buy {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    opacity: 0.8;
    display: inline-block;
    padding: 20px 45px;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: bold;
  }
}
.info {
  margin: 0 80px;
  border: 1px solid black;
  padding: 20px;
  .message {
    font-weight: bold;
    opacity: 0.5;
  }
}
.delete {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25px;
  padding: 3px;
  &:active {
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}