* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  .header-top {
    height: 50px;
    display: flex;
    justify-content: center;
    background-image: url("smork.jpeg");
    opacity: 0.9;
    .post {
      text-decoration: none;
      color: black;
      border: 2px solid rgb(40, 38, 38);
      border-radius: 50px;
      padding: 6px;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 5px;
      margin-left: 8px;
      line-height: 50px;
      font-family: cursive;
      background-color: rgba(255, 255, 255, 0.845);
      transition: all  0.8s ease;
      &:hover {
        background-color: skyblue;
        opacity: 0.7;
      }
      &:active {
        position: relative;
        top: 4px;
        box-shadow: none;
      }
    }
    .search-form {
      display: flex;
      justify-content: center;
      .search-input {
        border: 2px solid black;
        border-radius: 25px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 7px;
        background-color: rgba(255, 255, 255, 0.845);
        font-family: cursive;
        font-weight: bold;
        padding: 0 15px;
      }
      .search-btn {
        border: 2px solid black;
        border-radius: 50px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 7px;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.845);
        font-family: cursive;
        cursor: pointer;
        transition: all  0.8s ease;
        &:hover {
          background-color: yellow;
          opacity: 0.7;
        }
        &:active {
          position: relative;
          top: 4px;
          box-shadow: none;
        }
      }
    }
  }
  .top {
    background-image: url("dec01f2c7a606d0df663ba31f8afd777.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .title {
      text-decoration: none;
      font-size: 80px;
      color: white;
      line-height: 380px;
      font-family: cursive;
      letter-spacing: 10px;
      font-weight: bold;
      text-align: center;
      display: block;
      width: 100%;
      text-shadow: 1px 3px skyblue;
    }
  }
  .mains {
    height: calc(100vh - 80px);
  }
  .main {
    padding: 65px 90px;
    letter-spacing: 18px;
    .content {
      display: flex;
      display: inline-block;
      position: relative;
      margin-bottom: 10px;
      .image {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        border: 2px solid black; 
        cursor: pointer;
        transition: all  0.5s ease;
        &:hover {
          color: rgb(75, 173, 211);
          opacity: 0.3;
        }
        &:active {
          position: relative;
          top: 5px;
          box-shadow: none;
        }
      }
      .click {
        position: absolute;
        text-decoration: none;
        color: cornsilk;
        font-weight: bold;
        letter-spacing: 5px;
        background-color: rgba(35,35,35,0.6);
        border-radius: 25px;
        font-family: cursive;
        padding: 2px;
        top: 70px;
        left: 5px;
      }
      .index-good {
        position: absolute;
        top: 130px;
        left: 70px;
        text-decoration: none;
        color: cornsilk;
        letter-spacing: normal;
        background-color: rgba(35,35,35,0.6);
        border-radius: 25px;
        padding: 2px;
      }
    }
  }
  .header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-family: cursive;
      font-size: 35px;
      display: block;
      text-align: center;
      line-height: 70px;
      transition: all  0.8s ease;
      &:hover {
        color: skyblue;
        opacity: 0.7;
      }
    }
  }
  .footer {
    height: 30px;
    background-image: url("smork.jpeg");
    .footer-info {
      color: rgb(224, 231, 237);
      font-family: cursive;
      text-align: center;
    }
  }
}