* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: white;
  .header-top {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    .post {
      text-decoration: none;
      color: black;
      border: 2px solid rgb(40, 38, 38);
      border-radius: 50px;
      padding: 6px;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 5px;
      margin-left: 8px;
      line-height: 90px;
      font-family: cursive;
      background-color: rgba(67, 56, 56, 0.3);
      &:active {
        position: relative;
        top: 4px;
        box-shadow: none;
      }
    }
  }
  .header {
    height: 160px;
    text-align: center;
    .title {
      text-decoration: none;
      font-size: 70px;
      color: black;
      line-height: 150px;
      font-family: cursive;
      letter-spacing: 10px;
      font-weight: bold;
    }
  }
  .search-form {
    display: flex;
    justify-content: center;
    .search-input {
      border: none;
      background-color: whitesmoke;
      padding: 10px;
      border-radius: 25px;
      text-align: center;
    }
    .search-btn {
      border: 2px solid black;
      font-weight: bold;
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      &:active {
        position: relative;
        top: 4px;
        box-shadow: none;
      }
    }
  }
  .main {
    margin: 65px 110px;
    letter-spacing: 18px;
    .content {
      display: flex;
      display: inline-block;
      position: relative;
      margin-bottom: 10px;
      .image {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        border: 2px solid black; 
        cursor: pointer;
        &:active {
          position: relative;
          top: 5px;
          box-shadow: none;
        }
      }
      .click {
        position: absolute;
        text-decoration: none;
        color: cornsilk;
        font-weight: bold;
        letter-spacing: 5px;
        background-color: rgba(35,35,35,0.6);
        border-radius: 25px;
        font-family: cursive;
        padding: 2px;
        top: 70px;
        left: 5px;
      }
      .index-good {
        position: absolute;
        top: 130px;
        left: 70px;
        text-decoration: none;
        color: cornsilk;
        letter-spacing: normal;
        background-color: rgba(35,35,35,0.6);
        border-radius: 25px;
        padding: 2px;
      }
    }
  }
}